* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  width: 200px;
  display: block;
}
.centered {
  max-width: 90%;
  width: 1200px;
  margin: 0 auto;
}
/*
header
*/
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191919;
}
nav {
  margin-left: auto;
}
nav a {
  margin: 0 20px;
}

/* 
Partecipants
 */
.cards {
  display: flex;
  justify-content: center;
}
.cards .card {
  margin: 20px;
  text-align: center;
}
